[user]
  name = haelmy
  email = haelmy@gmail.com

[alias]
  st = status --short

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[core]
  excludesfile = /opt/boxen/config/git/gitignore

[hub]
  protocol = https

[color]
  ui = true
